.container {
  background-image: url('/assets/background.png');
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .search {
    position: absolute;
    top: 30px;
    left: 170px;
    z-index: 1;
    width: 1255px;
    height: 80px;
    background-color: transparent;
    border: none;
    outline: none;
    text-indent: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;

    &::placeholder {
      font-size: 15px;
      font-weight: 700;
      color: #ffffff80;
      font-family: 'Roboto', sans-serif;
    }
  }

  .buttons {
    position: absolute;
    top: 150px;
    right: 100px;
    width: 100px;
    justify-content: space-between;
    display: flex;

    .button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .cards {
    width: 95%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .pokemonCard {
      z-index: 1;
      border-radius: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #54c2f6;
      margin: 10px;
      width: 200px;

      .pokemonImage {
        width: 100px;
        height: 100px;
      }

      .pokemonInfo {
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 15px;
          font-weight: 700;
          color: #000;
          margin: 0px;
          font-family: 'Roboto', sans-serif;
        }
      }
    }
  }
}